.vertical-timeline-element-title,
.vertical-timeline-element-subtitle,
.vertical-timeline-element-description {
  color: #ddd;
  background-color: var(--primary-dark-color);
}
.vertical-timeline-element-subtitle {
  color: grey;
  font-weight: 400;
}
.vertical-timeline-element-content-arrow {
  border-inline-end-color: var(--primary-dark-color);
}
.vertical-timeline-element-content {
  background-color: var(--primary-dark-color);
  box-shadow: 2px 2px 6px 0px black;
}
.vertical-timeline-element-description {
  font-weight: 300;
}
.bullet-point-list {
  color: white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
.bullet-point {
  list-style-type: circle;
  font-size: 0.9rem;
  font-weight: 400;
}
