.progress-bar {
  margin-bottom: 10px;
}

.grid-cols-2 {
  display: grid;
  grid-gap: 40px;
}
.label {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
